<!-- <div class="flex flex-col items-center bg-[#F4F5F7] ">
  <div class="md:max-w-[40vw] w-full">
    <div class="flex flex-col items-center w-full">
      <div class="flex p-[16px] bg-white w-full rounded-b-2xl">
        <mat-icon
          class="text-[#7A869A] rtl:rotate-180 cursor-pointer"
          [routerLink]="['/home']"
          >keyboard_arrow_left</mat-icon
        >
        <div
          class="text-ta-black-300 text-base font-semibold flex justify-center w-full"
        >
          Burger Section
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-[#F4F5F7] max-w-[100vw] flex overflow-auto scrollBar">
  <div
    class="flex items-center flex-col w-full overflow-auto scrollBar items-center  mt-[24px]"
  >
    @for (product of products; track $index) {
    <div
      class="bg-ta-white max-w-[335px] w-full h-[275px] rounded-2xl mb-[16px] pt-[12px] px-[15px] flex flex-col"
    >
      <img
        src="{{ product.photo }}"
        class="rounded-2xl"
        alt=""
        onerror="this.src= 'assets/imgs/empty.png'"
      />
      <div class="!ms-[12px]">
        <div class="text-ta-black-200 m-0 !mt-[16px] text-lg font-bold">
          {{ product.name }}
        </div>
        <div class="text-ta-black-250 text-sm mt-[4px]">
          <span class="font-medium"
            >Start from
            <span class="font-bold"> {{ product.menu_item_variant }} </span></span
          >
        </div>
      </div>
    </div>
    }
  </div>
</div> -->
