.otp-container {
  div {
    position: relative;
  }
  input {
    width: 65px;
    height: 65px;
    background: #f4f5f7;
    border-radius: 7px;
    color: #172b4d;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    &:focus {
      outline: none !important;
    };
    @media screen and (max-width:300px) {
        width: 55px;
        height: 55px;
    }
  }
  span {
    position: absolute;
    bottom: 0;
    border: 1px solid #7a869a;
    width: 18px;
    left: 50%;
    transform: translate(-50%, 50%);
  }
  .activespan {
    position: absolute;
    bottom: 0;
    border: 1px solid #de350b !important;
    width: 18px;
    left: 50%;
    transform: translate(-50%, 50%);
  }
}
