.mat-mdc-snack-bar-container .mdc-snackbar__surface{
    border-radius: 50px !important;
}
.mat-mdc-snack-bar-container .mdc-snackbar__surface{
    box-shadow: none !important;
}
.mat-mdc-snack-bar-container .mdc-snackbar__surface{
    background-color: #fceeee !important;
    border: 1px solid #e5c3c3 !important;
}